Flask==3.0.0
Flask-SocketIO==5.3.6
opencv-python-headless==4.9.0.80
numpy==1.26.2
Pillow==10.1.0
eventlet==0.33.3
python-socketio==5.10.0
python-engineio==4.8.0
gunicorn==21.2.0
plotly==5.17.0
dash==2.14.2
pandas==2.1.4
