Flask==3.0.0
Flask-SocketIO==5.3.6
opencv-python-headless==4.9.0.80
numpy==1.26.3
Pillow==10.0.1
eventlet==0.33.3
python-socketio==5.9.0
python-engineio==4.7.1
gunicorn==21.2.0
gevent==23.9.1
gevent-websocket==0.10.1
dnspython==2.2.1
